<div>
  <strong>Scrolling speed(scroll/sec):</strong>
  <input type="text"
         id="<%= appConst.options.scrollingSpeed.id %>"
         value=<%= appConst.options.scrollingSpeed.value %> />
  <p>The value is scrolling speed. A unit is scroll / sec. Max is <%= appConst.scrolling.maxSpeed %>, and min is <%= appConst.scrolling.minSpeed %> .</p>
</div>
<div>
  <strong>Scrolling stop by click:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingByClick.id %>" />
  <p>The value decides the weather stoppling the scrolling when you click the scrolling window.</p>
</div>
<div>
  <strong>Stop scrolling when hovering over something:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingOnHover.id %>" />
  <p>Stop scrolling on hover</p>
</div>
<div>
  <strong>Shortcut - Toggle Autoscrolling: </strong>
  <input type="text"
         id="<%= appConst.options.keybindSwitchScrolling.id %>"
         value="<%= appConst.options.keybindSwitchScrolling.value %>" />
  <p>Toggle the tab's scrolling by keyboard shortcut<br>
  The value should be a combination of keycodes combined with the '+' sign. <br>
  <i>Ex: Ctrl+Shift+Insert.</i><br>
  Check out the link for the keycodes: <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/commands#Key_combinations" target="_blank">Key combinations</a><br>
  <span class="text-gray">PS: Some key combinations are reserved by the browser and can't be reassigned to this.<span></p>
</div>
