<div>
  <strong>Scrolling speed(scroll/sec):</strong>
  <input type="text"
         id="<%= appConst.options.scrollingSpeed.id %>"
         value=<%= appConst.options.scrollingSpeed.value %> />
  <p>The value is scrolling speed. A unit is scroll / sec.</br>
     Max is <%= appConst.scrolling.maxSpeed %>, and min is <%= appConst.scrolling.minSpeed %> .</p>
</div>
<div>
  <strong>Scrolling stop by click:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingByClick.id %>" />
  <p>If enabled the option, scrolling is stopped when you click the scrolling window.</p>
</div>
<div>
  <strong>Stop scrolling by cursor hovering over something:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingOnHover.id %>" />
  <p>If enabled the option, scrolling is stopped temporally when mouse cursor is hovering over something.</p>
</div>
<div>
  <strong>Keyboard shortcut for single-click action</strong>
  <input type="text"
         id="<%= appConst.options.keybindSingleClick.id %>"
         value="<%= appConst.options.keybindSingleClick.value %>" />
  <p>Fire a single-click action by keyboard shortcut</br>
  <ul>
    <li>Start scrolling when window is stopped</li>
    <li>Stop scrolling when window is Scrolling</li>
    <li>Close option modal window when the window is opened</li>
  </ul>
  The keybind should be a combination of keycodes concatenated with the '+' sign. <br>
  <i>Ex: Ctrl+Shift+Insert.</i><br>
  Check out the link for the keycodes: <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/commands#Key_combinations" target="_blank">Key combinations</a><br>
  <span class="text-gray">Notice: Some key combinations are reserved by the browser and can't be reassigned to this.<span></p>
</div>
