<div>
  <strong>Enable presets of scrolling speed:</strong>
  <input type="checkbox"
    id="<%= appConst.options.enablePresetsOfScrollingSpeed.id %>" />
  <p class="mb-0">
    If enabled, you can set presets for scrolling speed.
    Presets are Fast / Middle / Slow.
    The scolling state is cycled between
    <mark>Slow</mark>, <mark>Middle</mark>, <mark>Fast</mark>
    by <i>single-clicking</i> browser icon.
    When browser icon is <i>double-clicked</i> in scrolling,
    the scrolling is stopped.
  </p>
  <table id="<%= appConst.html.presetsWrapper.id %>">
    <tbody>
      <tr>
        <th>Fast:</th>
        <td><input type="number"
          class="scrolling-speed"
          id="<%= appConst.options.presetScrollingSpeedFast.id %>"
          value=<%= appConst.options.presetScrollingSpeedFast.value %> />
        </td>
      </tr>
      <tr>
        <th>Middle:</th>
        <td><input type="number"
          class="scrolling-speed"
          id="<%= appConst.options.presetScrollingSpeedMiddle.id %>"
          value=<%= appConst.options.presetScrollingSpeedMiddle.value %> />
        </td>
      </tr>
      <tr>
        <th>Slow:</th>
        <td><input type="number"
          class="scrolling-speed"
          id="<%= appConst.options.presetScrollingSpeedSlow.id %>"
          value=<%= appConst.options.presetScrollingSpeedSlow.value %> />
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>
</div>
