<div id="<%= appConst.html.speedWrapper.id %>">
  <strong>Scrolling speed(scroll/sec):</strong>
  <input type="number"
         class="scrolling-speed"
         id="<%= appConst.options.scrollingSpeed.id %>"
         value=<%= appConst.options.scrollingSpeed.value %> />
  <p>The value is scrolling speed. A unit is scroll / sec.</br>
     Max is <%= appConst.scrolling.maxSpeed %>, and min is <%= appConst.scrolling.minSpeed %>.</p>
</div>
